/* ! Base Style */

body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #211f1f;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(14, 1fr);
}

a {text-decoration: none; color: #fff;}

.big-text {font-size: 60px;}
.med-text {font-size: 40px;}
.normal-text {font-size: 20px;}
.small-text {font-size: 12px;}

.intro-text {
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 25px;
}

/* ! Container */

.container {
    grid-column-start: 3;
    grid-column-end: 13;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    background-color: #181818;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

/* ! Header */

header {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: #0d0d0d;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

nav {
    grid-column-start: 1;
    grid-column-end: 13;
    z-index: 2;
    background-color: #0000009c;
    position: sticky;
    top: 0;
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

nav img {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 15px 20px;
}

.menu {
    grid-column-start: 7;
    grid-column-end: 13;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu li {display: inline-block;}

#WRAP {
    background-color: #ab0000;
}

.menu li a {
    padding: 28px 20px;
    display: block;
    transition: 0.5s ease;
}

.menu li a:hover {
    opacity: 75%;
    background-color: #1e1d1d;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.upper-bar {
    grid-column-start: 1;
    grid-column-end: 13;
    z-index: 1;
    position: relative;
    margin: 0;
    background: url('../Img/servizi/carwrapping.jpg') repeat fixed 100%;
    background-position: center center;
    background-size: cover;
    height: 401px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.overlay{
    grid-column-start: 1;
    grid-column-end: 13;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.upperbar-inner {
    grid-column-start: 1;
    grid-column-end: 13;
    position: relative;
    justify-self: center;
}

.site-header {
    margin: 124px 0;
    width: fit-content;
}

.site-header h3 {
    margin: 0;
    color: rgb(196, 196, 196);
    font-weight: lighter;
}

/* ! Hero1 */

.Hero1 {
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: left;
    margin: 20px 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.Hero1 h4 {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0;
    color: rgb(154, 154, 154);
}

.Hero1 p {
    grid-column-start: 1;
    grid-column-end: 13;
    color: rgb(154, 154, 154);
    text-align: justify;
    font-size: 20px;
}

.summary {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0 20px;
    padding: 0;
    text-align: left;
}

.summary li {margin-top: 10px;}

/* !Slider */

#slider {
    grid-column-start: 1;
    grid-column-end: 13;
    color: rgb(154, 154, 154);
    text-align: left;
    padding: 0 20px;
}

.main-carousel {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0 20px;
    padding-bottom: 10px;
}

.carousel-cell {
    margin: 0 20px;
    width: 330px;
    height: 240px;
    background-size: cover;
    background-position: center center;
}

#ford {
    background-image: url('../Img/lavori/ford-tettuccio.jpg');
}

#mercedes-verde {
    background-image: url('../Img/lavori/maercedes-verde.jpg');
}

#mercedes-nera {
    background-image: url('../Img/lavori/mercedes-nera.jpg');
}

#militare {
    background-image: url('../Img/lavori/militare.jpg');
}

#suv {
    background-image: url('../Img/lavori/suv.jpg');
}

#spellicolamento {
    background-image: url('../Img/lavori/spellicolamento.jpg');
}

/* ! Footer */

footer {
    grid-column-start: 1;
    grid-column-end: 15;
    background-color: #141414;
    margin: -20px 0;
    color: rgb(154, 154, 154);
    justify-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(14, 1fr);
}

footer ul {
    grid-column-start: 2;
    grid-column-end: 14;
    display: flex;
    padding: 0;
}

footer ul section {
    margin: 0 60px;
    padding: 0 10px;
}

footer ul section a:hover {
    text-decoration: underline;
}

#social {
    margin: 0;
    padding: 0;
    display: flex;
}

#social a{
    padding: 0;
    margin-right: 10px;
    vertical-align: middle;
}

#social a img {
    background-color: #fff;
    border-radius: 15px;
    transition: 0.5s ease;
}

#social a img:hover {
    opacity: 100%;
}

footer img {
    grid-column-start: 1;
    grid-column-end: 15;
    opacity: 60%;
}

/* Tablets */

@media(max-width:768px){
    /* ! Container */

    .container{
        grid-column-start: 1;
        grid-column-end: 15;
    }

    /* ! Header */
    
    .hamburger {
        grid-column: 12;
        margin-right: 20px;
        display: block;
    }

    .hamburger.active .bar:nth-child(2) { /*second span desapper*/
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /*first span rotate of 45degres*/
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); /*third span rotate of 45degres*/
    }
    
    nav {
        position: fixed;   
        width: 100%; 
        background-color: #000000;
    }

    .menu {
        grid-column-start: 7;
        grid-column-end: 12;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .menu li {
        margin: 9px 0;
    }

    .menu li a {
        margin: 0;
        padding: 10px 20px;
    }

    .menu.active {
        left: 0;
    }

    .upper-bar {
        margin-top: 70px;
        background-size: contain;
        background-position: 0 70px;
        height: 300px;
    }
    
    .site-header {
        margin: 75px 0;
        width: fit-content;
    }

    /* ! Footer */

    footer ul section {
        margin: 0 20px;
        padding: 0;
    }
}